@use '../tokens' as *

.footer
  margin-bottom: calc( $space-1 * 10 )
  @include lg
    margin-bottom: calc( $space-1 * 20 )
  p
    color: $color_text_tertiary
  .footer-subtitle
    font-family: $font-family-accent
    font-weight: $font-weight-bold
    margin-left: $space-2