@use '../tokens' as *
  
.container 
  padding: $space-5
  @include sm 
    padding: $space-12 0
  @include lg 
    padding: calc( $space-1 * 15 ) 0
.grid-3
  display: grid
  grid-template-columns: repeat(1,minmax(0,1fr))
  gap: $space-6
  @include md
    grid-template-columns: repeat(2,minmax(0,1fr))
  @include lg
    grid-template-columns: repeat(3,minmax(0,1fr))