@use '../tokens' as *

.hero-title
  display: flex
  align-items: center
  flex-wrap: wrap
  gap: $space-sm
  @include lg
    gap: $space-4
.hero-name
  color: $color-primary
.hero-avatar
  width: 3rem
  border-radius: $space-xl
  @include md
    width: 4rem
.hero-highlight
  position: relative
  &::after
    content: ''
    position: absolute
    bottom: $space-1
    left: 0
    width: 100%
    height: $space-3
    background: rgba( $color-secondary , .3 )