@use '../tokens' as *
@use '../helpers' as *

/* navbar導覽列 --------------------------------------------------------------------------------------- */ 
.navbar
  @include glassmorphism
  position: fixed
  top: 0
  .container
    padding: 0 1.25rem
    @include sm
      padding: 0
  .navbar-brand
    display: flex
    align-items: center
    gap: $space-sm
    &:hover
      img
        filter: invert(57%) sepia(87%) saturate(735%) hue-rotate(345deg) brightness(98%) contrast(92%)
  .navbar-name
    font-family: $font-family-accent
    line-height: $line-height-none
    font-weight: $font-weight-medium
    margin-bottom: 0
    color: $color_primary
    font-size: $space-6
    &:hover
      color: $color_accent
  .navbar-nav
    .nav-link
      font-weight:$font-weight-medium
      color: $color_text_secondary
      border-bottom: 2px solid rgba($color: $color_secondary, $alpha: 0)
      margin: 0 $space-sm
      @include transition(all .3s ease)
      &:hover
        color: $color_secondary
        border-bottom: 2px solid $color_secondary
      &:active
        color: $color_secondary
        border-bottom: 2px solid $color_secondary
    .active
      color: $color_secondary
      border-bottom: 2px solid $color_secondary
  @include md
    .navbar-collapse
      justify-content: flex-end