@use '../tokens' as *
@use '../helpers' as *

/* navbar導覽列 --------------------------------------------------------------------------------------- */ 
.navbar
  @include glassmorphism
  position: fixed
  top: 0
  .container
    padding: 0 1.25rem
    @include sm
      padding: 0
  .navbar-brand
    display: flex
    align-items: center
    gap: $space-sm
    &:hover
      img
        filter: invert(57%) sepia(87%) saturate(735%) hue-rotate(345deg) brightness(98%) contrast(92%)
  .navbar-name
    font-family: $font-family-accent
    line-height: $line-height-none
    font-weight: $font-weight-medium
    margin-bottom: 0
    color: $color_primary
    font-size: $space-6
    &:hover
      color: $color_accent

.dianNavbar

  .nav-link
    display: flex
    align-items: baseline
    gap: 0.5rem
    padding: 0.75rem 1rem
    transition: background-color 0.2s ease, color 0.2s ease

    .nav-link-text
      font-size: 1.125rem
      font-weight: 600
      color: $color_text_primary

    .nav-link-sub
      font-size: 0.85rem
      color: $color_text_tertiary

    &::after
      display: none

    &.active
      background-color: $color_light
      .nav-link-text, .nav-link-sub
        color: $color_primary
        font-weight: 700
  @include md
    .navbar-collapse
      justify-content: end

    .navbar-nav
      gap: 1.5rem

    .nav-link
      position: relative
      display: inline-block
      padding: 0.5rem 0
      overflow: hidden

      .nav-link-sub
        display: none

      .nav-link-text
        font-size: 1.125rem
        font-weight: 500
        color: #4a4a4a
        transition: color 0.3s ease

      &::after
        display: block
        content: attr(data-title)
        position: absolute
        top: 50%
        left: 50%
        width: 100%
        height: 100%
        text-align: center
        color: $color_primary
        font-weight: 600
        font-size: 1.125rem
        opacity: 0
        transform: translate(-50%,-50%)
        transition: transform 0.3s ease, opacity 0.3s ease

      &::before
        content: ''
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        height: 3px
        background-color: $color_primary
        transform: scaleX(0)
        transition: transform 0.3s ease

      &.active
        background-color: transparent

      &:hover,
      &.active
        .nav-link-text
          color: transparent

        &::after
          opacity: 1
          transform: translate(-50%,-30%)

        &::before
          transform: scaleX(1)