<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>YunnDian's Profolio</title>
  <!-- google font -->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap" rel="stylesheet">
  <!-- icon -->
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- bootstrap -->
  <link rel="stylesheet" href="./css/bootstrap.css">
  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"/>
  <!-- self -->
  <link rel="stylesheet" href="./css/style.css">
</head>
<body>
  <div id="app">
    <!-- navbar -->
    <div class="navbar navbar-expand-md navbar-light fixed-top dianNavbar">
      <div class="container">
        <a href="" class="navbar-brand"><img src="./images/logo.svg" alt="dian槙"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item"><a href="https://yunndian27.github.io/resume_rwd_2021/" target="_blank" class="nav-link">關於我</a></li>
            <li class="nav-item"><a href="#ab03" class="nav-link">專案作品</a></li>
            <li class="nav-item"><a href="#ab04" class="nav-link">聯絡我</a></li>
          </ul>
          <ul class="navbar-nav nav-social">
            <li class="nav-item social-item"><a href="https://linktr.ee/dianjane27" target="_blank" class="nav-link social-link"><img src="./images/icon/icon-tabler_brand-linktree.svg" alt="linktree" srcset=""></a></li>
            <li class="nav-item social-item"><a href="https://github.com/yunndian27" target="_blank" class="nav-link social-link"><img src="./images/icon/icon-ion_social-github.svg" alt="github" srcset=""></a></li>
            <li class="nav-item social-item"><a href="https://dribbble.com/yundian27" target="_blank" class="nav-link social-link"><img src="./images/icon/icon-typcn_social-dribbble.svg" alt="dribble" srcset=""></a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- main -->
    <main>
    <!-- header -->
      <header>
        <div class="container">
          <div class="sayHi">
            <h2>嗨！我是王韻槙Jane</h2>
            <h3>是位<span>視覺設計&擅長前端切版</span></h3>
            <p class="en-caveat motto">“Think Different”</p>
            <div class="btn-group">
              <a href="#ab04" class="btn-link">聯絡我</a>
              <a href="https://yunndian27.github.io/resume_rwd_2021/" target="_blank" class="btn-link">認識我</a>
            </div>
          </div>
          <div class="myPic">
            <div class="pic-group"><img src="./images/dianImg.jpg" alt=""></div>
          </div>
        </div>
      </header>
    <!-- ab01 -->
      <article class="article01">
        <div class="container">
          <section class="intro-item">
            <h2 class="intro-title"><span>13+</span> 件<br>專案設計 <span class="en-caveat">Projects</span></h2>
            <div class="intro-group">
              <p>視覺專業的我，總積極的讓畫面達成美與平衡、介面視覺達成合理化，同時了解網頁與資料的連結關係，能獨立完成靜動態的前端切版，天衣無縫的解決客戶與長官困擾，滿意我所提供的專業價值。</p>
            </div>
          </section>
          <section class="intro-item">
            <h2 class="intro-title"><span>7+</span> 年<br>工作經驗 <span class="en-caveat">Experience</span></h2>
            <div class="intro-group">
              <p>視覺專業的我，總積極的讓畫面達成美與平衡、介面視覺達成合理化，同時了解網頁與資料的連結關係，能獨立完成靜動態的前端切版，天衣無縫的解決客戶與長官困擾，滿意我所提供的專業價值。</p>
            </div>
          </section>
          <section class="intro-item">
            <h2 class="intro-title"><span>4.5</span> 年<br>專業學習 <span class="en-caveat">Education</span></h2>
            <div class="intro-group">
              <p>前端網頁開發技術<br>勞動力發展署北基宜花金馬分署 泰山職訓局  2021.02 - 2021.08 </p>
              <p>多媒體設計<br>致理技術學院  2015.09 - 2011.07  </p>
            </div>
          </section>
        </div>
      </article>
    <!-- ab02 -->
      <article class="article02">
        <div class="container">
          <h2>專業技能 <span class="en-caveat">My Skills</span></h2>
          <div class="skill-group">
            <div class="skill-item" v-for="skill in skills">
              <div class="skill-pic"><img :src="skill.imgUrl" :alt="skill.title"></div>
              <div class="skill-intro">
                <h4>{{ skill.title }}</h4>
                <p>{{ skill.text }}</p>
              </div>
            </div>
          </div>
        </div>
      </article>
    <!-- ab03 -->
      <article class="article03" id="ab03">
        <div class="container">
          <h2>專案作品 <span class="en-caveat">My Projects</span></h2>
          <!-- 網頁設計 -->
          <section>
            <h4>網頁設計 <span class="en-caveat">Website Design</span></h4>
            <div class="swiper projectSwiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide" v-for="website in websites">
                  <div class="projects-item">
                    <div class="project-info ">
                      <p class="info-tool">{{ website.tool }}</p>
                      <h3 class="info-title">{{ website.info }}</h3>
                      <p class="info-intro">{{ website.explain }}</p>
                      <a :href="website.link" class="info-link">看作品</a>
                    </div>
                    <div class="project-pic ">
                      <a :href="website.imgUrl" data-fancybox :data-caption="website.info">
                        <img :src="website.imgUrl" :alt="website.info"/>
                      </a>
                      <!-- <img :src="website.imgUrl" :alt="website.info"> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
            </div>
          </section>
          <!-- 活動形象視覺 -->
          <section>
            <h4>網頁設計 <span class="en-caveat">website Design</span></h4>
            <div class="swiper projectSwiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide" v-for="dailyUi in dailyUis">
                  <div class="projects-item rowChange">
                    <div class="project-info ">
                      <p class="info-tool">{{ dailyUi.tool }}</p>
                      <h3 class="info-title">{{ dailyUi.title }}</h3>
                      <p class="info-intro">{{ dailyUi.text }}</p>
                    </div>
                    <div class="project-pic ">
                      <a :href="dailyUi.imgUrl" data-fancybox :data-caption="dailyUi.title">
                        <img :src="dailyUi.imgUrl" />
                      </a>
                      <!-- <img :src="dailyUi.imgUrl" :alt="dailyUi.title"> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
            </div>
          </section>
          <!-- 平面設計 -->
          <section>
            <h4>平面設計 <span class="en-caveat">Visual Design</span></h4>
            <div class="swiper threePicSwiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide" v-for="graphic in graphics">
                  <div class="threePics-item">
                    <a :href="graphic.imgUrl" data-fancybox :data-caption="graphic.title">
                      <img :src="graphic.imgUrl" :alt="graphic.title"/>
                    </a>
                    <!-- <img :src="graphic.imgUrl" :alt="graphic.title" class=""> -->
                  </div>
                  <p class="threePics-title">{{ graphic.title }}</p>
                  <p class="threePics-tool">{{ graphic.tool }}</p>
                </div>
              </div>
              <div class="swiper-pagination"></div>
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
            </div>
          </section>
          <!-- 插畫作品 Illustration -->
          <section>
            <h4>插畫作品 <span class="en-caveat">Illustration</span></h4>
            <div class="swiper threePicSwiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide" v-for="illustra in illustras">
                  <div class="threePics-item">
                    <a :href="illustra.imgUrl" data-fancybox :data-caption="illustra.title">
                      <img :src="illustra.imgUrl" :alt="illustra.title"/>
                    </a>
                    <!-- <img :src="illustra.imgUrl" alt="" class=""> -->
                  </div>
                  <p class="threePics-title">{{ illustra.title }}</p>
                  <p class="threePics-tool">{{ illustra.tool }}</p>
                </div>
              </div>
              <div class="swiper-pagination"></div>
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
            </div>
          </section>
        </div>
      </article>
    <!-- ab04 -->
      <article class="article04" id="ab04">
        <div class="container">
          <section>
            <h2>歡迎與我聯繫 <span class="en-caveat">Welcome to contact me.</span></h2>
            <div class="connect-group">
              <div class="connect-pic">
                <img src="./images/dianImg.jpg" alt="">
              </div>
              <div class="connect-info">
                <h4>王韻槙Jane</h4>
                <h5>視覺設計&擅長前端切版</h5>
                <ul class="navbar-nav nav-social">
                  <li class="nav-item social-item"><a href="https://linktr.ee/dianjane27" target="_blank" class="nav-link social-link"><img src="./images/icon/icon-tabler_brand-linktree.svg" alt="linktree" srcset=""></a></li>
                  <li class="nav-item social-item"><a href="https://github.com/yunndian27" target="_blank" class="nav-link social-link"><img src="./images/icon/icon-ion_social-github.svg" alt="github" srcset=""></a></li>
                  <li class="nav-item social-item"><a href="https://dribbble.com/yundian27" target="_blank" class="nav-link social-link"><img src="./images/icon/icon-typcn_social-dribbble.svg" alt="dribbble" srcset=""></a></li>
                </ul>
              </div>
            </div>
          </section>
          <section class="d-none">
            <div class="connect-form">
              <form action="" method="post">
                <input type="text" value="姓名 Your Name">
                <input type="email" name="" id="" value="信箱 Your Email">
                <textarea name="message" id="" cols="30" rows="4">留言訊息 Your Message</textarea>
                <!-- <input type="text" value="留言訊息 Your Message"> -->
                <input type="submit" value="送出">
              </form>
            </div>
          </section>
        </div>
      </article>
    </main>

    <!-- footer -->
    <footer>
      <div class="container">
        <a href="mailto:yunjen0824@gmail.com">yunjen0824@gmail.com</a>
        <p>Copyright © 2024 YunnDian All Right Reserved</p>
      </div>
    </footer>

  </div>

  <!-- vue -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- jquery -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js'></script>
  <!-- bootstrap -->
  <script src='./js/bootstrap.bundle.min.js'></script>
  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
  <!-- self -->
  <script src="./js/portfolio_Info.js"></script>
  <script>
    var swiper = new Swiper(".projectSwiper", {
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      loop: true,
    });
    var swiper = new Swiper(".threePicSwiper", {
      slidesPerView : 1,
      slidesPerGroup : 1,
      spaceBetween: 30,
      freeMode: true,
      loop: true,
      breakpoints: {
        576: {
          slidesPerView: 2,
          slidesPerGroup: 2,
        },
        992: {
          slidesPerView: 3,
          slidesPerGroup: 3,
        },
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
    Fancybox.bind("[data-fancybox]", {
      // Your custom options
    });
  </script>
  
</body>
</html>