// color
$color_primary: #32368A
$color_secondary: #3F43A6
$color_tertiary: #55567B
$color_light: #DFE4EE
$color_bg: #FBFBFF
$color_text_primary: #333333
$color_text_secondary: #575756
$color_text_tertiary: #9D9D9C
$color_text_light: #D2D2D2
$color_white: #ffffff
$color_black: #000000