@use '../tokens' as *
@use '../helpers' as *

.card-work
  margin: $space-12 0
  @include transition(all .4s cubic-bezier(0.16, 1, 0.3, 1))

  .work-description
    color: $color_text_primary

  .work-info
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    color: $color_text_tertiary

  .work-actions
    display: flex
    gap: $space-md

  .work-tag
    @include font-accent-bold
  
  .work-img-wrap
    position: relative
    overflow: hidden
    background: $color-tertiary
    border-radius: $space-5
  
  .work-img
    display: block
    width: 100%
    opacity: 0.7
    will-change: transform, opacity
    @include transition(all .5s cubic-bezier(0.16, 1, 0.3, 1))

  &:hover
    .work-img
      opacity: 1
      transform: scale(1.03)