@use '../tokens' as *

.card-work
  margin: $space-12 0

  .work-description
    color: $color_text_primary

  .work-info
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    color: $color_text_tertiary

  .work-actions
    display: flex
    gap: $space-md