@use '../tokens' as *

.otherSwiper
  width: 100%
  height: 100%
  --swiper-pagination-color: #{$color_primary}

.swiper-slide
  padding-bottom: $space-xl

.swiper-img
  border-radius: $space-md

.swiper-info
  display: flex
  justify-content: space-between
  align-items: center

.swiper-tag
  font-family: $font-family-accent
  font-weight: $font-weight-medium
  color: $color_text_tertiary

.swiper-title
  font-size: $font-size-base
  font-weight: $font-weight-medium
  line-height: $line-height-tight
  letter-spacing: $letter-spacing-normal
  color: $color_text_primary