.scroll-reveal
  opacity: 0
  transform: translateY(24px)
  will-change: transform, opacity

@keyframes displayText
  0%
    display: inline-block
  25%,100%
    display: none

@keyframes animateText
  0%,100%
    width: 0
  70%,90%
    width: 100%

@keyframes animateMove1
  0%,100%
    top: 0%
    left: 10%
    transform: translate(-50%,-50%) scale(1)
  50%
    top: 0%
    left: 40%
    transform: translate(-50%,-50%) scale(0.7)

@keyframes animateMove2
  0%,100%
    top: 30%
    left: 50%
    transform: translate(-50%,-50%) scale(1)
  50%
    top: 30%
    left: 50%
    transform: translate(-50%,-50%) scale(1.2)

@keyframes animateMove3
  0%,100%
    top: 100%
    left: 50%
    transform: translate(-50%,-50%) scale(1)
  50%
    top: 100%
    left: 70%
    transform: translate(-50%,-50%) scale(0.8)