@use "../tokens" as *
@use '../helpers' as *

/* about me ----------------------------- */
.page-about
  .hero__container,.skills__container
    display: flex
    flex-wrap: wrap
    gap: $space-md
  .hero__container
    flex-wrap: wrap-reverse
    @include lg
      justify-content: space-between
      align-items: center
      flex-wrap: wrap
  .hero__content
    width: 100%
    @include lg
      width: 50%
  .hero-name
    color: $color_primary
  .hero__media
    width: 100%
    @include lg
      width: calc( 45% - $space-md )
  .hero__img
    border-radius: $space-md

  .skills, .career, .education
    background: $color_bg
  .skills__title, .career__title, .education__title
    span
      font-family: $font-family-accent
      font-weight: $font-weight-bold
      margin-left: $space-2

  .skills__group
    width: 100%
    @include lg
      width: calc( 50% - $space-md )
  .skills__list
    margin-top: $space-5
  .skills__list--tags
    display: flex
    align-items: center
    flex-wrap: wrap
    gap: $space-md $space-sm
    .skills__item
      background: $color_white
      padding: $space-sm $space-md
      border: 1px solid $color_text_light
      border-radius: $space-xs
      @include transition(all .3s ease)
      &:hover
        background: $color_light
        color: $color_secondary
        border-color: $color_secondary
  .skills__cards
    display: flex
    gap: $space-md
    margin: $space-md 0
    flex-direction: column
    .skills__list
      margin-top: 0
    @include md
      align-items: center
      flex-direction: row
  .skills__category
    font-weight: $font-weight-regular
    color: $color_text_secondary
    margin-right: $space-md
  .skills__list--bullets
    gap: $space-2
    .skills__item
      list-style: disc
      margin-left: $space-4

  .career__list
    margin-top: $space-5
  .job-item
    display: flex
    flex-wrap: wrap
    gap: $space-4
    margin-bottom: calc( $space-5 * 2 )
    p
      margin-bottom: $space-1

  .job-item__group
    display: flex
    flex-direction: column
    @include md
      flex-direction: row
  .job-item__role
    color: $color-primary
  .job-item__date
    color: $color_text_tertiary
    @include md
      border-left: 2px solid $color_text_light
      padding-left: $space-2
      margin-left: $space-2
  .project-summary
    margin-top: $space-2
  .project-summary__title
    font-size: $font-size-body-m
    font-weight: $font-weight-bold
  .project-summary__item
    list-style: disc
    margin-left: $space-5
  .panel-group
    margin-top: $space-8
  .panel
    border: 1px solid $color_secondary
    border-radius: $space-4
    margin-bottom: $space-8
    transition: all .3s ease
    &:hover
      border-color: $color_accent
  .panel-default
    & > .panel-heading
      padding: 0
      a
        display: block
        position: relative
        padding: $space-8
        &:after
          content: ''
          position: absolute
          top: $space-8
          right: $space-8
          display: inline-block
          font-style: normal
          font-size: 2rem
          font-weight: $font-weight-medium
          line-height: 1
          transition: transform .25s linear
      a[aria-expanded="true"]:after
        content: '\2212'
        transform: rotate(180deg)
      a[aria-expanded="true"]
        padding: $space-8 $space-8 $space-4 $space-8
      a[aria-expanded="false"]:after
        content: '\002b'
        transform: rotate(90deg)
  .panel-title
    h3
      margin-bottom: $space-2
    p
      margin-bottom: $space-1
  .panel-collapse
    padding: 0 $space-8 $space-8
  .panel-body
    border-top: 1px solid $color_light
    padding-top: $space-4
    // padding: $space-4 $space-8 $space-8 $space-8


  .education__list
    display: flex
    flex-wrap: wrap
    margin-top: $space-5
  .education__item
    width: 100%
    @include lg
      width: calc( 50% - $space-md )
      margin-right: $space-md
  .education__school
    color: $color-primary