@use "../tokens" as *
  
.page-creative
  .hero
    text-align: center
  .hero-title
    color: $color_primary
    span
      font-family: $font-family-accent
      font-size: $font-size-h2
  .hero-image
    width: 10%
    margin: 0 auto
  .section-creative
    background: $color_bg
  .section-header
    margin-bottom: $space-lg
  .section__title
    font-size: $font-size-h3
    color: $color_primary