@use "../tokens" as *

.page-home  
  .section-work, .section-others
    background: $color_bg
  .section--subtitle
    font-family: $font-family-accent
    font-weight: $font-weight-regular
    margin-left: $space-1
  .work-img
    border-radius: $space-5
  .work-info
    margin-top: $space-3