@use '../tokens' as *
// 使用完整的 @mixin 宣告
  
// 快速置中
@mixin flex-center
  display: flex
  justify-content: center
  align-items: center

@mixin flex-wrap
  display: flex
  flex-wrap: wrap
  gap: $space-5

// 現代 Transition
@mixin transition($prop: all, $time: 0.3s, $ease: ease-in-out)
  transition: $prop $time $ease

// 圖片覆蓋 (Object-fit)
@mixin img-cover
  width: 100%
  height: 100%
  object-fit: cover

//毛玻璃效果
@mixin glassmorphism
  backdrop-filter: blur(30px)
  -webkit-backdrop-filter: blur(30px)
  background-color: rgba(255, 255, 255, 0.3)

// 英文字體-粗
// 括號拿掉，它就會直接從全域尋找這些變數
@mixin font-accent-bold
  font-family: $font-family-accent
  font-weight: $font-weight-bold
  line-height: $line-height-none