// scss/tokens/_spacing.sass

// 1. 定義基礎單位
$space-unit: 4px

// 2. 建立數值階層
$space-1: $space-unit * 1  // 4px
$space-2: $space-unit * 2  // 8px
$space-3: $space-unit * 3  // 12px
$space-4: $space-unit * 4  // 16px
$space-6: $space-unit * 6  // 24px
$space-8: $space-unit * 8  // 32px
$space-12: $space-unit * 12 // 48px

// 3. 語意化別名 (Alias Tokens)
$space-xs: $space-1
$space-sm: $space-2
$space-md: $space-4
$space-lg: $space-6
$space-xl: $space-8

// line-height
// $ine-height-level: 1.4

// spacing
// $space: 1rem