// 定義比例常數
$type-scale-ratio: 1.25
  
// 透過計算定義 Tokens
$font-size-base: 16px
$font-size-h3: $font-size-base * $type-scale-ratio
$font-size-h2: $font-size-h3 * $type-scale-ratio
$font-size-h1: $font-size-h2 * $type-scale-ratio
